.product {
  background: linear-gradient(
      90deg,
      rgba(98, 89, 89, 0.666),
      rgba(0, 0, 0, 0.4)
    )
    center center;
  /* Aquí coloca la ruta a la imagen predeterminada */
  background-size: cover;
  min-height: 90vh;

  transition: all 0.3s linear 0s;
}
