.bg_servicios {
  /*  background-color: hsla(200, 84%, 96%, 0.431); */
  margin: 0;
  padding: 0;
}

.space_servicio {
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 4fr));
  gap: 3rem;
  text-align: center;
}

.pColorRed {
  color: #fa2727;
  font-size: 3.5rem;
  text-shadow: 0 2px rgba(0, 1, 0, 0.4);
}

.pColorBlue {
  color: #0089ff;
  text-shadow: 0 2px rgba(0, 1, 0, 0.1);
  text-shadow: 0 2px rgba(0, 1, 0, 0.4);
}
.pSize {
  font-size: 1.6rem;
}

@media screen and (max-width: 992px) {
  .products {
    grid-template-columns: repeat(auto-fit, minmax(350px, 2fr));
  }
}
