.bg_servicios {
  background-color: hsla(200, 84%, 96%, 0.731);
  margin: 0;
  padding: 0;
}

.space_servicio{
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.products {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 4fr));
  gap: 2rem;
  text-align: center;
 
}

@media screen and (max-width: 420px) {
  .products {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

@media screen and (max-width: 768px) {
  .products {
    grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
  }
}

@media screen and (max-width: 992px) {
  .products {
    grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
  }
}
