.bg_servicios {
  /*    background-color: hsla(200, 84%, 96%, 0.431); */
  margin: 0;
  padding: 0;
}

.space_servicio {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  place-content: center;
  gap: 3rem;
  text-align: center;
}

.pColorRed {
  color: #fa2727;
  font-size: 3.5rem;
  text-shadow: 0 2px rgba(0, 1, 0, 0.5);
}

.pColorBlue {
  color: #0089ff;
  text-shadow: 0 2px rgba(0, 1, 0, 0.1);
  text-shadow: 0 2px rgba(0, 1, 0, 0.4);
}
.pSize {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

@media screen and (max-width: 992px) {
  .products {
    grid-template-columns: repeat(auto-fit, minmax(350px, 2fr));
  }
}

@media screen and (max-width: 1240px) {
  .products {
    grid-template-columns: repeat(auto-fit, minmax(250px, 3fr));
  }
}
