.bloque-sector01 {
  background: linear-gradient(
      90deg,
      rgba(98, 89, 89, 0.666),
      rgba(0, 0, 0, 0.4)
    ),
    url("../../img/sectorcontruc.jpg") center center;

  background-size: cover;
  min-height: 90vh;
  transition: all 0.3s linear 0s;
}

.bloque-sector02 {
  background: linear-gradient(
      90deg,
      rgba(98, 89, 89, 0.666),
      rgba(0, 0, 0, 0.4)
    ),
    url("../../img/sectoroffices.jpg") center center;

  background-size: cover;
  min-height: 90vh;
  transition: all 0.3s linear 0s;
}

.bloque-sector03 {
  background: linear-gradient(
      90deg,
      rgba(98, 89, 89, 0.666),
      rgba(0, 0, 0, 0.4)
    ),
    url("../../img/sectorhogar.jpg") center center;

  background-size: cover;
  min-height: 90vh;
  transition: all 0.3s linear 0s;
}

.img_presupuesto {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: brightness(70%);
  text-align: center;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.title_empresa {
  color: #0b1d2c;
  font-weight: 500;
  font-size: 2.9rem;
  text-shadow: 0 2px rgba(0, 0, 0, 0.1);
}
.p_empresa {
  font-size: 1.2rem;
  line-height: 2.2rem;
}

.beneficio-title-h2 {
  font-weight: 500;
  font-size: 2.9rem;
}

/* */

.titleClient {
  color: #f7f7f7;
  font-weight: 600;
  font-size: 2.5rem;
  text-shadow: 0 2px rgba(0, 10, 0, 0.7);
  text-shadow: 0px 1px 10px rgba(0, 0, 21, 0.8);
  text-transform: uppercase;
}
.parrafoClient {
  line-height: 1.8rem;
  color: #f7f7f7;
  font-size: 1.3rem;
  text-shadow: 0 2px rgba(0, 10, 0, 0.5);
  margin: 0 40px;
}

.colorblue {
  color: #0089ff;
  font-size: 3.4rem;
  text-shadow: 0 2px rgba(0, 1, 0, 0.3);
}

.underparrafo {
  text-decoration: underline solid #fa2727;
  font-weight: bold;
  color: #fa2727;
}
.show-hr {
  visibility: hidden;
  margin: 0px;
  padding: 0px;
}

@media (max-width: 420px) {
  .titleClient {
    color: #f7f7f7;
    font-weight: 600;
    font-size: 2.2rem;
    text-shadow: 0 2px rgba(0, 10, 0, 0.7);
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  .parrafoClient {
    margin: 0 20px;
    line-height: 2.1rem;
    color: #f7f7f7;
    font-size: 1.5rem;
    text-shadow: 0 2px rgba(0, 10, 0, 0.5);
  }
  .hidden-movil {
    visibility: hidden;
    height: 0px;
    width: 0px;
  }
  .show-hr {
    visibility: visible;
    margin-left: 10%;
    margin-right: 10%;
  }
}
