.bg_ubicacion {
  background-color: #e9ecef;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.ubicacion-title-h2 {
  font-weight: 500;
  font-size: 2.9rem;
}

.google-maps {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  object-fit: cover;
}

.google-maps iframe {
  height: 600px;
  width: 100%;
}

@media (max-width: 480px) {
  .google-maps {
    margin: 0;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    object-fit: cover;
  }
  .google-maps iframe {
    height: 400px;
    width: 100%;
  }
}
