.container__bg {
  background-color: #e9ecef;
  background-color: #e9ecef;
  margin-top: 48px;
  padding: 2rem 0 1rem 0;
}
.mampara__h2 {
  font-weight: 500;
  font-size: 2.5rem;
  text-shadow: 0 2px rgba(22, 25, 20, 0.2);
}

.container__imgProduct {
  width: 75%;
  height: 50vh;
  object-fit: cover;
  object-position: center;
  background: center center;
  border-radius: 25px;
}

@media screen and (max-width: 420px) {
  .containertext {
    margin-top: 5em;
    text-align: center;
    padding: 4em;
  }
}

@media screen and (max-width: 980px) {
  .containertext {
    text-align: center;
    padding: 2em;
  }
}
